@charset "utf-8";
*{margin: 0px;padding: 0px;font-family:"微软雅黑";}
body{min-width:1200px;font-size: 12px;overflow-x:hidden;}
table,td,tr,ul,ol,li,dl,dd,dt,p,input,form,em,p,img,h1,h2,h3,h4,h5{margin:0px;padding:0px;}
h1{color:#232323;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,p,span{font-size:12px;}
p{color:#686868;}
ul{list-style:none;}
.cursor{cursor:pointer;}
.clear{font-size:0;line-height:0;height:0;clear:both;visibility:hidden;overflow:hidden}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.l{float:left;}
.r{float:right;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
img {border:0;}
a{text-decoration:none;color:#686868;}
a:hover{text-decoration:none;color:#f3782a;}
/*top导航*/
.top-blank{height:15px;overflow:hidden;background:none;}
.top-head{height:15px;position:fixed;top:0;width:100%;z-index:1000;background:none;}
.lang{width:100%;height:15px;line-height:15px;background:#121628;color:#F3782A;overflow:hidden;}
.main-menu{
    background-color: #2C353D;
    border: 0 none;
    border-radius: 0;
    position: fixed;
    width: 100%;
    padding: 10px 0 20px !important;
    margin-bottom: 0;
    z-index: 10;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    -webkit-backface-visibility: hidden;
    background-color: transparent;
    /*必须将背景色设为透明，否则无效。（除非对于要设置的元素本身已经是透明的，如：span元素等）*/
    background-color: rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#40000000,endColorstr=#40000000);
}
header.page-header .main-menu{position: relative; }
.navbar-brand img {margin-top: -25px;width: 100%; }
.main-menu .navbar-nav{float: right;padding: 10px 0;margin-right: 80px;height: 50px;}
.main-menu .navbar-nav li{
    width: 120px;
    height: 80px;
    top: -20px;
    position:relative ;
}
.main-menu .navbar-nav li a{
    line-height: 60px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 6px;
    padding-bottom: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.main-menu .navbar-nav li a:hover,
.main-menu .navbar-nav li.active a{
    color: #089EF5;
    width: 120px;
    height: 80px;
    background: #0C1A3E;

}
.main-menu .navbar-nav li a:focus{
    background-color: transparent;
}

.main-menu.minified{
    background-color: #000;
    padding: 0;
    position: fixed;
    filter:alpha(opacity=80);
    -moz-opacity:0.80;
    opacity:0.80;
}

header.page-header .main-menu.minified{ position: fixed; }
.main-info{ height: 100%; }
.inner{position:relative;width:100%;height: 500px;top:0;margin:0 auto;}
.section .img1{width: 100%;height: 100%}
.img1-info{ max-width: 100%;margin-top: -250px;}
.top_title,.top_title_info1,.top_title_info2,.top_title_info3{margin-left:6%;  }
.top_title{
    color: #FFFFFF;
    font-size: 30px;
    font-weight:bold;
    margin-top: -70px;
}
.top_title_info1,.top_title_info2{
    color: #FFFFFF;
    font-size: 15px;
}
.top_title_info1{
    margin-top: 25px;
}
.top_title_info2{
    margin-top: 5px;
}
.top_title_info3{
    margin-top: 20px;
    height: 30px;
    line-height: 26px;
}
.top_title_info3 a{
    color: #FFFFFF;
    font-size: 10px;
}
.top_title_info3 a:hover{
    color: #F3782A;
}

/* banner images */
.DB_tab25 {width:100%;height:500px;position:relative;overflow:hidden;cursor:pointer;}
.DB_tab25 .DB_bgSet{position:relative;}
.DB_tab25 .DB_bgSet li{position:absolute;width:100%;height:500px;display:none;}
.DB_bgSet .banner{width: 100%;}
.DB_bgSet .banner img{width: 100%;height: 500px;}
.DB_tab25 .DB_imgSet{position:absolute;width:988px;left:50%;margin-left:-500px;}
.DB_tab25 .DB_imgSet .DB_1_1{position:absolute;left:-5px;top:200px; font-size: 25px;  color: #FFFFFF;  width: 660px;}
.DB_tab25 .DB_imgSet .DB_1_2{position:absolute;left:-5px;top:250px; font-size: 14px;  width: 800px;color: #FFFFFF;}
.DB_tab25 .DB_imgSet .DB_1_3{position:absolute;left:10px;top:390px; height: 30px; width: 100px; line-height: 26px; }
.DB_tab25 .DB_imgSet .DB_1_3 a{color: #FFFFFF;}
.DB_tab25 .DB_imgSet .DB_2_1{position:absolute;left:-5px;top:200px;  font-size: 25px;  color: #FFFFFF;  width: 600px; }
.DB_tab25 .DB_imgSet .DB_2_2{position:absolute;left:-5px;top:250px; font-size: 14px; width: 660px;color: #FFFFFF;}
.DB_tab25 .DB_imgSet .DB_2_3{position:absolute;left:10px;top:350px; height: 30px; width: 100px; line-height: 26px; }
.DB_tab25 .DB_imgSet .DB_2_3 a{color: #FFFFFF;}
.DB_tab25 .DB_imgSet .DB_3_1{position:absolute;left:-5px;top:200px;  font-size: 25px;  color: #FFFFFF;  width: 600px; }
.DB_tab25 .DB_imgSet .DB_3_2{position:absolute;left:-5px;top:250px; font-size: 14px; width: 660px;color: #FFFFFF;}
.DB_tab25 .DB_imgSet .DB_3_2 p{font-size: 14px; width: 660px;color: #FFFFFF;line-height: 27px;}
.DB_tab25 .DB_imgSet .DB_3_3{position:absolute;left:10px;top:350px; height: 30px; width: 100px; line-height: 26px; }
.DB_tab25 .DB_imgSet .DB_3_3 a{color: #FFFFFF;}
.DB_tab25 .DB_imgSet .DB_4_1{position:absolute;left:-5px;top:200px;  font-size: 25px;  color: #FFFFFF;  width: 600px; }
.DB_tab25 .DB_imgSet .DB_4_2{position:absolute;left:-5px;top:250px; font-size: 14px; width: 660px;color: #FFFFFF;}
.DB_tab25 .DB_imgSet .DB_4_3{position:absolute;left:10px;top:350px; height: 30px; width: 100px; line-height: 26px; }
.DB_tab25 .DB_imgSet .DB_4_3 a{color: #FFFFFF;}
.DB_tab25 .DB_menuWrap{position:absolute;width:988px;left:50%;margin-left:-500px;}
.DB_tab25 .DB_menuWrap .DB_menuSet{position:absolute;width:100%;top:456px;text-align:center;font-size:0;}
.DB_tab25 .DB_menuWrap .DB_menuSet li{cursor:pointer;margin:0 3px;display:inline}
.DB_tab25 .DB_menuWrap .DB_menuSet li img{width:70px; height: 5px;border-radius:2px;}
.DB_tab25 .DB_prev{position:absolute;left:0px;top:220px;cursor:pointer;display:none}
.DB_tab25 .DB_next{position:absolute;right:0px;top:220px;cursor:pointer;display:none}


.qianwang{width: 100%;height: 300px; background: #F9F9F9;position:relative;}
.qianwang-bj{
    width: 100%;
    height: 200px;
    background:url(../images/qianwang_bj.png?v=20180513);
    background-size:1040px 200px;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    bottom: 0px;
}
.qianwang-title{
    width: 600px;
    font-size: 25px;
    line-height: 40px;
    color: #000;
    text-align:center;
    margin: 0 auto;
    margin-top: -30px;
}
.qianwang_btn{
    color: #FFFFFF;
    position: absolute;
    left: 40%;
    top:100px;
    width: 160px;
    height: 34px;
    line-height: 29px;
    background: #D27E28;
    border-radius: 40px 40px 40px 40px;
}
.qianwang_btn a{
    color: #FFFFFF;
    font-size: 13px;
}
.qianwang_btn a:hover{
    color: #000000;
}

.img-info{
    margin-left: 180px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.node_bj{
    width: 100%;
    height: 700px;
    background:#000000;
    position:relative;
}
.node_bj .node_img_bj{
    width: 100%;
    height: 700px;
    background:url(../images/nodes_bj.png);
    background-size:1300px 700px;
    background-repeat:no-repeat;
    background-position:center;
    text-align: center;
    margin:0 auto;
}
.node_bj .show-node-info{
    width: 800px;
    height: 530px;
    position: relative;
    margin:0 auto;
}
.node_bj .words3{
    height: 280px;
    top:75px; left:55px;
    position:absolute;
}
.node_bj .node_title{
    padding-top:50px;
    text-align: center;
    display:block;
}

.node_bj .node_img_bj .show-node-info .node_num{
    font-size: 13px;
    line-height: 40px;
    width: 200px;
    margin: 400px 0px 0px 35px;
    text-align: center;
    float: left;
}
.node_bj .node_img_bj .show-node-info .node_num p{
    color: #FFFFFF;
}

.node_bj .node_img_bj .show-node-info .node_num .fonts_30{
    font-size: 30px;
}
.node_title p{
    color: #FFFFFF;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
    margin:0 auto;
    width: 100%;
}
.node_title .fonts_30{
    font-size: 30px;
    font-weight: 900;
}

/* LINKS*/
.friendly_link{
    display:block;clear:both;
    position:relative;
    top:50px;
    text-align: center;
    margin-bottom: 100px;
}
.friendly_link p{
    color:#000000;
    font-size: 30px;
}

.friendly_link ul{
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    width: 900px;
}
.friendly_link ul li{
    margin:20px 0px 0px 100px;
    width: 310px;
    float:left;
    display:block;
}
.friendly_link ul li img{
    width: 220px;height: 55px;
}
.about-us{
    width: 100%;
    height: 450px;
    position:relative;
    top:30px;
    display:block;clear:both;
}
.about-us .about-us-title{
    text-align: center;
    line-height: 40px;
    padding-top: 10px;
    display:block;clear:both;
}
.about-us .about-us-title .fonts_30{
    font-size: 30px;
    color: #000;
}
.about-us .about-us-title p{
    font-size: 15px;
    color: #000;
}

.about-us .about-us-content{
    width: 1000px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 40px;
}
.about-us .about-us-content .fonts_wight{
    font-size: 15px;
    font-weight: 900;
}
.about-us .about-us-content img{
    width: 350px;
    margin-left: 150px;
    float: left;
}
.about-us .about-us-content .about-us-word{
    float: left; margin-left: 16px;
}
.about-us .about-us-content .about-us-word p{
    color: #000;font-size: 15px; line-height: 35px;
}
.contact-us{
    height: 250px;
    background:url(../images/contact-us.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    position:relative;
    display:block;clear:both;
    text-align: center;
}
.contact-us .contact-us-title{
    text-align: center;
    line-height: 40px;
    padding-top: 30px;
    display:block;clear:both;
}
.contact-us .contact-us-title .fonts_30{
    font-size: 30px;
    color: #FFFFFF;
}
.contact-us .contact-us-title p{
    font-size: 15px;
    color: #000;
}

.contact-us .mtp{
    margin-left: -250px;
}
.contact-us .mtp a{
    margin-top: 80px;
    height: 100px;
}
.contact-us .mtp a span{
    color: #FFFFFF;
    margin-top: 40px;
    font-size: 19px;
    height: 100px;
    line-height: 80px;
    position: absolute;
    margin-left: 20px;
}
.contact-us .mtp .facebook{
    width: 17px;
}
.contact-us .mtp a img{
    width: 30px;
    margin-left: 60px;
    margin-top:63px;
}
.main-bottom{
    background: #444154;
    width: 100%;
    height: 90px;
    text-align: center;
    line-height: 115px;
    padding-top: 25px;
}
.main-bottom p{
    text-align: center;
    color: #FFFFFF;
    line-height: 30px;
}
/*SAMPLE*/
.content{
    width:1090px;
    height: 428px;
    margin:20px auto;
    /*border: 1px solid #ccc;*/
    padding: 25px 25px 15px 60px;
}
.content .con{
    width: 297px;
    height: 198px;
    float: left;
    margin-right: 35px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}
.content .con img{
    width:297px;
    height: 198px;
}
.content .con .txt{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.6);
}
.content .con .txt h3{
    font-weight: normal;
    line-height: 45px;
    font-size: 15px;
}
.content .con .txt p{
    font-size: 14px;
    display: none;
    color: #FFFFFF;
    line-height: 20px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -moz-margin-before: 1em;
    -moz-margin-after: 1em;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
}