@charset "utf-8";
*{margin: 0px;padding: 0px;font-family:"微软雅黑";}
body{font-size: 12px;overflow-x:hidden;}
table,td,tr,ul,ol,li,dl,dd,dt,p,input,form,em,p,img,h1,h2,h3,h4,h5{margin:0px;padding:0px;}
h1{color:#232323;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,p,span{font-size:12px;}
p{color:#686868;}
ul{list-style:none;}
.cursor{cursor:pointer;}
.clear{font-size:0;line-height:0;height:0;clear:both;visibility:hidden;overflow:hidden}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.l{float:left;}
.r{float:right;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
img {border:0;}
a{text-decoration:none;color:#686868;}
a:hover{text-decoration:none;color:#f3782a;}
/*top导航*/
@media (min-width: 768px){ //>=768的设备 }
@media (min-width: 992px){ //>=992的设备 }
@media (min-width: 1200){ //>=1200的设备 }
@media (min-width: 1200){ //>=1200的设备 }
@media (min-width: 992px){ //>=992的设备 }
@media (min-width: 768px){ //>=768的设备 }
@media (max-width: 1199){ //<=1199的设备 }
@media (max-width: 991px){ //<=991的设备 }
@media (max-width: 767px){ //<=768的设备 }

.navbar-transparent{
    -webkit-transition: all .35s!important;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    -webkit-backface-visibility: hidden;
    background-color: transparent;
    /*必须将背景色设为透明，否则无效。（除非对于要设置的元素本身已经是透明的，如：span元素等）*/
    background-color: rgba(0,0,0,0.35)!important;
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#40000000,endColorstr=#40000000);
}

.icon-bar{
    background-color: #FFFFFF;
}

.main-menu{
    border: 0 none;
    border-radius: 0;
    position: fixed;
    width:  100%;
    height: 58px!important;
    padding: 5px 0 0px 0px;
    margin-bottom: 0;
    z-index: 10;
}


header.page-header .main-menu{position: relative; }
.navbar-brand img {margin-top: -12px; max-width: 160px;max-height: 37px;}

.main-menu .navbar-nav{float: right;}
.main-menu .navbar-nav li{
    width: 120px;
    height: 60px;
    top: -20px;
    position:relative ;
    background-color: #9d9d9d;
    background-color: rgba(0,0,0,0.35);
}
.main-menu .navbar-nav li a{
    line-height: 60px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    color: #FFFFFF;
    padding-top: 6px;
    padding-bottom: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.main-menu .navbar-nav li a:hover,
.main-menu .navbar-nav li.active a{
    color: #089EF5;
    width: 120px;
    height: 60px;
    background: #0C1A3E;

}
.main-menu .navbar-nav li a:focus{
    background-color: transparent;
}

.main-menu.minified{
    background-color: #000;
    padding: 0;
    position: fixed;
    filter:alpha(opacity=80);
    -moz-opacity:0.80;
    opacity:0.80;
}


header.page-header .main-menu.minified{ position: fixed; }
.main-info{ height: 100%; }
.inner{position:relative;width:100%;height: 500px;top:0;margin:0 auto;}
.section .img1{width: 100%;height: 100%}
.img1-info{ max-width: 100%;margin-top: -250px;}
.top_title,.top_title_info1,.top_title_info2,.top_title_info3{margin-left:6%;  }
.top_title{
    color: #FFFFFF;
    font-size: 30px;
    font-weight:bold;
    margin-top: -70px;
}
.top_title_info1,.top_title_info2{
    color: #FFFFFF;
    font-size: 15px;
}
.top_title_info1{
    margin-top: 25px;
}
.top_title_info2{
    margin-top: 5px;
}
.top_title_info3{
    margin-top: 20px;
    height: 30px;
    line-height: 26px;
}
.top_title_info3 a{
    color: #FFFFFF;
    font-size: 10px;
}
.top_title_info3 a:hover{
    color: #F3782A;
}

/* banner images */
.DB_tab25 {width:100%;height:450px;position:relative;overflow:hidden;cursor:pointer;}
.DB_tab25 .DB_bgSet{position:relative;}
.DB_tab25 .DB_bgSet li{position:absolute;width:100%;mix-height:450px;display:none;}
.DB_bgSet .banner{width: 100%;}
.DB_bgSet .banner img{width: 100%;height: 450px;}
.DB_tab25 .DB_imgSet{position:absolute;width:100%;left:50%;margin-left:-160px;}
.DB_tab25 .DB_imgSet .DB_1_1{position:absolute;left:-5px;top:90px; font-size: 12px;  color: #FFFFFF;  width: 60px; width: 330px;}
.DB_tab25 .DB_imgSet .DB_1_2{position:absolute;left:-5px;top:120px; font-size: 7px;  width: 330px; color: #FFFFFF;}
.DB_tab25 .DB_imgSet .DB_1_3{position:absolute;left:10px;top:340px; height: 30px; width: 80px; line-height: 26px; }
.DB_tab25 .DB_imgSet .DB_1_3 a{color: #FFFFFF;}

.DB_tab25 .DB_imgSet .DB_2_1{position:absolute;left:-5px;top:150px;  font-size: 13px;  color: #FFFFFF;  width: 330px; }
.DB_tab25 .DB_imgSet .DB_2_2{position:absolute;left:-5px;top:180px; font-size: 8px; width: 330px;color: #FFFFFF;}
.DB_tab25 .DB_imgSet .DB_2_3{position:absolute;left:10px;top:340px; height: 30px; width: 100px; line-height: 26px; }
.DB_tab25 .DB_imgSet .DB_2_3 a{color: #FFFFFF;}

.DB_tab25 .DB_imgSet .DB_3_1{position:absolute;left:-5px;top:120px;  font-size: 13px;  color: #FFFFFF;  width: 330px; }
.DB_tab25 .DB_imgSet .DB_3_2{position:absolute;left:-5px;top:160px; font-size: 7px; width: 330px;color: #FFFFFF;}
.DB_tab25 .DB_imgSet .DB_3_2 p{width: 330px;color: #FFFFFF;line-height: 21px;font-size: 7px; }
.DB_tab25 .DB_imgSet .DB_3_3{position:absolute;left:10px;top:340px; height: 30px; width: 100px; line-height: 26px; }
.DB_tab25 .DB_imgSet .DB_3_3 a{color: #FFFFFF;}

.DB_tab25 .DB_imgSet .DB_4_1{position:absolute;left:-5px;top:150px;  font-size: 13px;  color: #FFFFFF;  width: 330px; }
.DB_tab25 .DB_imgSet .DB_4_2{position:absolute;left:-5px;top:180px; font-size: 7px; width: 330px;color: #FFFFFF;}
.DB_tab25 .DB_imgSet .DB_4_3{position:absolute;left:10px;top:340px; height: 30px; width: 100px; line-height: 26px; }
.DB_tab25 .DB_imgSet .DB_4_3 a{color: #FFFFFF;}


.DB_tab25 .DB_menuWrap{position:absolute;width:988px;left:50%;margin-left:-500px;}
.DB_tab25 .DB_menuWrap .DB_menuSet{position:absolute;width:100%;top:400px;text-align:center;font-size:0;}
.DB_tab25 .DB_menuWrap .DB_menuSet li{cursor:pointer;margin:0 3px;display:inline}
.DB_tab25 .DB_menuWrap .DB_menuSet li img{width:40px; height: 5px;border-radius:2px;}
.DB_tab25 .DB_prev{position:absolute;left:0px;top:220px;cursor:pointer;display:none}
.DB_tab25 .DB_next{position:absolute;right:0px;top:220px;cursor:pointer;display:none}





.qianwang{width: 100%;height: 200px; background: #F9F9F9;position:relative;}
.qianwang-bj{
    width: 100%;
    height: 120px;
    background:url(../images/qianwang_bj.png?v=20180513);
    background-size:100% 120px;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    bottom: 0px;
}
.qianwang-title{
    width: 100%;
    font-size: 15px;
    line-height: 27px;
    color: #000;
    text-align:center;
    margin: 0 auto;
    margin-top: -50px;
}
.qianwang_btn{
    color: #FFFFFF;
    position: absolute;
    display:inline-block;
    text-align: center;
    top:70px;
    width: 120px;
    height: 28px;
    line-height: 23px;
    background: #D27E28;
    border-radius: 40px 40px 40px 40px;
    left: 50%;
    margin-left: -60px;
}
.qianwang_btn a{
    color: #FFFFFF;
    font-size: 10px;
}
.qianwang_btn a:hover{
    color: #000000;
}

.img-info{
    margin-left: 180px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.node_bj{
    width: 100%;
    height: 100%;
    background:#000000;
    position:relative;
}
.node_bj .node_img_bj{
    width: 100%;
    height: 100%;
    background:url(../images/nodes_bj.png);
    background-size:100% 700px;
    background-repeat:no-repeat;
    background-position:center;
    text-align: center;
    margin:0 auto;
}
.node_bj .show-node-info{
    width: 100%;
    height: 230px;
    position: relative;
    margin:0 auto;
}
.node_bj .words3{
    height: 130px;
    margin-top: 40px;
}
.node_bj .node_title{
    padding-top:50px;
    text-align: center;
    display:block;
}

.node_bj .node_img_bj .show-node-info .node_num_all{
    margin: 0 auto;
    width: 100%;
}
.node_bj .node_img_bj .show-node-info .node_num{
    font-size: 13px;
    line-height: 20px;
    width: 100px;
    margin: 0px 0px 0px 0px;
    text-align: center;
    display:inline-block;
}
.node_bj .node_img_bj .show-node-info .node_num p{
    color: #FFFFFF;
}

.node_bj .node_img_bj .show-node-info .node_num .fonts_30{
    font-size: 20px;
}
.node_title p{
    color: #FFFFFF;
    text-align: center;
    line-height: 20px;
    margin:0 auto;
    width: 95%;
}
.node_title .title_content{
    font-size: 6px!important;
}
.node_title .fonts_30{
    font-size: 12px;
    font-weight: 900;
}

.about-us{
    width: 100%;
    height: 100%;
    position:relative;
    top:30px;
    display:block;clear:both;
}
.about-us .about-us-title{
    text-align: center;
    line-height: 40px;
    padding-top: 10px;
    display:block;clear:both;
}
.about-us .about-us-title .fonts_30{
    font-size: 21px;
    color: #000;
}
.about-us .about-us-title p{
    font-size: 15px;
    color: #000;
}

.about-us .about-us-content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 50px;
}
.about-us .about-us-content .fonts_wight{
    font-size: 15px;
    font-weight: 900;
}
.about-us .about-us-content img{
    height: 120px;
    margin-left: 10px;
    float: left;
    width: 40%;
}
.about-us .about-us-content .about-us-word{
    float: left; margin-left: 16px;
    width: 50%;
    float: right;
}
.about-us .about-us-content .about-us-word p{
    color: #000;font-size: 15px; line-height: 23px;
}


.contact-us{
    height: 180px;
    background:url(../images/contact-us.png);
    background-size:100% 100%;
    background-repeat:no-repeat;
    position:relative;
    display:block;clear:both;
    text-align: center;
}
.contact-us .contact-us-title{
    text-align: center;
    line-height: 40px;
    padding-top: 30px;
    display:block;clear:both;
}
.contact-us .contact-us-title .fonts_30{
    font-size: 21px;
    color: #FFFFFF;
}
.contact-us .contact-us-title p{
    font-size: 15px;
    color: #000;
}

.contact-us .mtp{
    margin-left: -170px;
    text-align: center;
}
.contact-us .mtp a{
    margin-top: 80px;
    height: 100px;
}
.contact-us .mtp a span{
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 19px;
    height: 100px;
    line-height: 65px;
    position: absolute;
    margin-left: 20px;
}
.contact-us .mtp .facebook{
    width: 9px;
}
.contact-us .mtp a img{
    width: 15px;
    margin-left: 20px;
    margin-top:35px;
}
.main-bottom{
    background: #444154;
    width: 100%;
    height: 90px;
    text-align: center;
    line-height: 115px;
    padding-top: 25px;
}
.main-bottom p{
    text-align: center;
    color: #FFFFFF;
    line-height: 30px;
}


/* LINKS*/
.friendly_link{
    position:relative;
    top:50px;
    text-align: center;
    margin-bottom: 100px;
}
.friendly_link p{
    color:#000000;
    font-size: 21px;
}

.friendly_link ul{
    margin-top: 20px;
    width: 100%;
    margin-left: -55px;
}
.friendly_link ul li{
    margin:20px 0px 0px 80px;
    width: 70px;
    display: inline-block;
}
.friendly_link ul li img{
    width: 100px;height: 27px;
}


/*SAMPLE*/
.content{
    width:1090px;
    height: 428px;
    margin:20px auto;
    /*border: 1px solid #ccc;*/
    padding: 25px 25px 15px 60px;
}
.content .con{
    width: 297px;
    height: 198px;
    float: left;
    margin-right: 35px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}
.content .con img{
    width:297px;
    height: 198px;
}
.content .con .txt{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.6);
}
.content .con .txt h3{
    font-weight: normal;
    line-height: 45px;
    font-size: 15px;
}
.content .con .txt p{
    font-size: 14px;
    display: none;
    color: #FFFFFF;
    line-height: 20px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -moz-margin-before: 1em;
    -moz-margin-after: 1em;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
}
